main {
    padding-top: 82px;
}
.page-breadcrumbs {
    display: flex;
    align-items: center;
    padding: 30px 0;
    flex-wrap: wrap;
}
.page-breadcrumbs a {
    font-size: 12px;
    color: #222222;
    text-decoration: none;
    margin-right: 10px;
    transition: .3s;
}
.page-breadcrumbs a:hover {
    color: #01693a;
}
.page-breadcrumbs i {
    color: #222222;
    font-size: 9px;
    margin-right: 10px;
}
.page-breadcrumbs span {
    font-size: 12px;
    color: #222222;
}
.main-nav-scroll {
    transform: translateY(0);
    z-index: 6;
}
.page-banner .container {
    height: 100%;
    position: relative;
}
.page-banner {
    background-position: top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.page-banner-title {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page-banner-title h1 {
    font-size: 30px;
    font-weight: 800;
}
.page-banner {
    height: 390px;
    position: relative;
    margin-bottom: 300px;
}
.page-banner-breadcrumb a {
    font-size: 12px;
    text-decoration: none;
    color: #222222;
}
.page-banner-breadcrumb span {
    font-size: 12px;
    color: #222222;
}
.page-banner-breadcrumb i {
    font-size: 10px;
    margin: 0 4px;
}
.shop-page-banner-slide img{
    width: 190px;
    border-radius: 50%;
}
.shop-page-banner-slide-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.shop-page-banner-slide-wrapper img {
    margin-bottom: 32px;
    cursor: pointer;
}
.shop-page-banner-slide-wrapper p {
    font-weight: 700;
    color: #222222;
    font-size: 16px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: .3s;
}
.shop-page-banner-slide-wrapper p:hover {
    color: #01693a;
}
.shop-page-banner-slide-wrapper span {
    color: #434343;
    font-size: 14px;
}
.shop-banner-slider-wrapper {
    position: relative;
    max-width: 100%;
    bottom: 150px;
}
.shop-banner-slider {
    width: 80%;
    margin: 0 auto;
}
.shop-page-banner-slider .slick-prev {
    left: -50px;
    transform: translateY(248%);
}
.shop-page-banner-slider .slick-next {
    right: -100%;
    transform: translateY(-404%);
}
.shop-page-banner-slider .slick-prev, .slick-next {
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #ececec;
    box-shadow: 3px 4px 8px 0 #0000001a;
    position: relative;
    transition: all .5s ease;
    border-radius: 50%;
    outline: 0 !important;
    z-index: auto;
}
.shop-page-banner-slider .slick-next::before {
    left: 47%;
    transform: rotate(-45deg) translate(-50%, -50%);
    background: #000;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    transition: transform .5s ease;
    width: 15px;
}
.shop-page-banner-slider .slick-next::after {
    left: 47%;
    transform: rotate(45deg) translate(-50%, 50%);
    background: #000;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    transition: transform .5s ease;
    width: 15px;
}
.shop-page-banner-slider .slick-prev::before {
    right: 47%;
    transform: rotate(-135deg) translate(-50%, -50%);
    background: #000;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    transition: transform .5s ease;
    width: 15px;
}
.shop-page-banner-slider .slick-prev::after {
    right: 47%;
    transform: rotate(135deg) translate(-50%, 50%);
    background: #000;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    transition: transform .5s ease;
    width: 15px;
}
.shop-page-banner-slider .slick-prev.slick-disabled::before {
    right: 50%;
    transform: rotate(-180deg) translate(-50%, -50%) !important;
}
.shop-page-banner-slider .slick-prev.slick-disabled::after {
    right: 50%;
    transform: rotate(180deg) translate(-50%, -50%) !important;
}
.shop-page-banner-slider .slick-next.slick-disabled::before {
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%) !important;
}
.shop-page-banner-slider .slick-next.slick-disabled::after {
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%) !important;
}
.shop-page-banner-slider .slick-next:hover{
    background: #01693a;
    border: 1px solid #01693a;
}
.shop-page-banner-slider .slick-prev:hover{
    background: #01693a;
    border: 1px solid #01693a;
}
.shop-page-banner-slider .slick-next:hover::before{
    background: #fff;
    transform: rotate(-30deg) translate(-50%, -50%);
}
.shop-page-banner-slider .slick-next:hover::after{
    background: #fff;
    transform: rotate(30deg) translate(-50%, 50%);
}
.shop-page-banner-slider .slick-prev:hover::before{
    background: #fff;
    transform: rotate(-150deg) translate(-50%, -50%);
}
.shop-page-banner-slider .slick-prev:hover::after{
    background: #fff;
    transform: rotate(150deg) translate(-50%, 50%);
}

/*Shop page filters*/
.shop-results-section {
    margin-bottom: 100px;
}
.shop-filters-title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 32px;
}
.shop-filters-title h2 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.shop-filters-title i {
    margin-right: 8px;
}


.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
}
.accordion-item-header.active + .accordion-item-body {
    max-height: none;
}
.accordion-item-header {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px;
    cursor: pointer;
    position: relative;
}
.accordion-item-header p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
    color: #222222;
}
.accordion-item-header i {
    color: rgb(34 34 34);
    font-size: 11px;
    transition: .3s;
}
.accordion-item-header.active::after {
    content: '';
    width: calc(100% - 56px);
    height: 1px;
    background-color: #ececec;
    position: absolute;
    bottom: 0;
    left: 28px;
}
.accordion-item-header.active i{
    transform: rotate(180deg);
}
.accordion-item-header:hover i {
    color: #01693a;
}
.accordion-item {
    border-radius: 20px !important;
    border: 1px solid #ececec !important;
    margin-bottom: 28px;
}
.accordion-item-body-content {
    padding: 32px 28px;
}
.cbx {
    -webkit-perspective: 18;
    perspective: 18;
    position: absolute;
    top: 0;
    left: 13px;
    margin: -12px;
    border: 1px solid #c8c8c8;
    background: #e8e8eb;
    border-radius: 3px;
    cursor: pointer;
    transform: translateY(12px);
    transition: all 0.3s ease;
}

.cbx:hover {
    border-color: #01693a;
}
.flip {
    display: block;
    transition: all 0.4s ease;
    transform-style: preserve-3d;
    position: relative;
    width: 18px;
    height: 18px;
}
.shop-filter-item-with-checkbox input {
    display: none;
}
.shop-filter-item-with-checkbox input:checked + .cbx {
    border-color: #01693a;
}

.shop-filter-item-with-checkbox input:checked + .flip {
    transform: rotateY(180deg);
}
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 2px;
}
.front {
    background: #fff;
    z-index: 1;
}
.back {
    transform: rotateY(180deg);
    background: #01693a;
    text-align: center;
    color: #fff;
    line-height: 18px;
    box-shadow: 0 0 0 1px #01693a;
}
.back svg {
    fill: none;
    width: 10px;
}
.back svg path {
    stroke: #fff;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.shop-filter-item-with-checkbox {
    position: relative; 
    padding-left: 40px;
    margin-bottom: 16px;
    cursor: pointer;
}
.shop-filter-item-with-checkbox:hover .shop-filter-item-with-checkbox-text{
    color: #01693a;
}
.shop-filter-item-with-checkbox:hover .cbx{
    border-color: #01693a;
}
.shop-filter-item-with-checkbox:last-child {
    margin-bottom: 0;
}
.shop-filter-item-with-checkbox-text {
    color: #434343;
    font-size: 14px;
}
.shop-filter-item-with-checkbox-text span {
    font-size: 12px;
    color: #909090;
}


.range-wrapper{
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 0;
    border-radius: 0px;
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track{
    width: 100%;
    height: 7px;
    position: absolute;
    top: 0;
    background-color: #01693a;
    border: 1px solid rgb(171 171 171);
    border-radius: 5px;
}
.slider-track-2{
    width: 100%;
    height: 7px;
    position: absolute;
    top: 0;
    background-color: #01693a;
    border: 1px solid rgb(171 171 171);
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 7px;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 7px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 7px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: rgba(130, 130, 130, 1);
    cursor: pointer;
    margin-top: -6.5px;
    pointer-events: auto;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #01693a;
    position: relative;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #01693a;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #01693a;
    pointer-events: auto;
    position: relative;
}
input[type="range"]:active::-webkit-slider-thumb{
}
.range-value {
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 24px;
}

#min-range {
    color: #141820;
}
#max-range {
    color: #141820;
}
.range-static-values-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.range-static-values-wrapper span {
    color: #909090;
    font-size: 10px;
    opacity: 0.8;
}
.range-changable-values-wrapper {
    display: flex;
}
.range-changable-values-wrapper p {
    font-size: 12px;
    color: #434343;
    margin-bottom: 0;
    margin-right: 16px;
}
.range-changable-values-wrapper {
    font-size: 12px;
    color: #434343;
    margin-bottom: 32px;
}
.range-changable-values-inner {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding-right: 32px;
}
.range-filter-btn {
    background-color: #ececec !important;
    border: 0 !important;
    box-shadow: unset !important;
    outline: 0 !important;
    border-radius: 3px;
    width: 75px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: #000 !important;
    font-weight: 800;
    text-transform: uppercase;
    transition: .3s;
}
.range-filter-btn:hover {
    color: #fff !important;
    background-color: #01693a !important;
}
.shop-filter-item-rate-wrapper i {
    color: #c3c3c3;
}
.shop-filter-item-rate-wrapper .fa-yellow {
    color: #f7a92f;
}
.shop-colors-filter-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: -6px;
    margin-left: -6px;
}
.shop-color-filter-item {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: 6px 8px;
    border: 1px solid #ececec;
    cursor: pointer;
    position: relative;
    transition: .3s;
}
.shop-color-filter-item::after {
    transition: all .3s;
}
.shop-color-filter-item:hover {
    border: 1px solid #222222;
}
.shop-color-filter-item:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 50%;
    transition: .3s;
}

.shop-sort-bar {
    width: 100%;
    height: 60px;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.shop-sort-view-controls-wrapper {
    display: flex;
    align-items: center;
    margin-right: 32px;
}
.shop-sort-view-control-btn {
    background-color: #fff;
    color: #222222;
    cursor: pointer;
    border-radius: .25rem;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    transition: .3s;
}
.shop-sort-view-control-btn:hover {
    color: #ffff;
    background-color: #01693a;
}
.shop-sort-view-control-btn.selected {
    color: #ffff;
    background-color: #01693a;
}
.shop-sort-bar p {
    margin-bottom: 0;
    font-size: 12px;
    color: #434343;
    flex-grow: 1;
    text-align: start;
}
.shop-sort-select-wrapper select{
    width: 166px;
    height: 46px !important;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    font-size: 12px;
    padding: 0 8px;
    outline: 0 !important;
    cursor: pointer;
}
.organic-swiper-slide {
    border: 1px solid #ececec;
    border-radius: 18px;
    position: relative;
    padding-bottom: 32px;
    background-color: #fff;
}
.organic-swiper-slide-image {
    margin-bottom: 50px;
}
.organic-swiper-slide-image img {
    max-height: 100%;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}
.shop-items-col {
    margin-bottom: 32px;
    transition: .5s;
}
.organic-swiper-slide::before {
    background-color: #84d814;
    border-radius: 18px;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all .3s ease;
    visibility: hidden;
    width: 100%;
    z-index: -1;
}
.organic-swiper-slide:hover::before {
    opacity: 1;
    transform: rotate(3deg);
    visibility: visible;
}

.organic-swiper-slide:hover .organic-slide-button2{
    opacity: 1;
    visibility: visible;
}
.organic-swiper-slide:hover .organic-slide-button3{
    opacity: 1;
    visibility: visible;
}
.shop-results-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.shop-results-pagination p {
    font-size: 12px;
    color: #434343;
    margin-bottom: 16px;
}
.shop-results-pagination p span, strong {
    font-weight: 700;
}
.shop-results-pagination-bar {
    width: 100%;
    max-width: 250px;
    height: 7px;
    border-radius: 7px;
    background-color: rgb(235 235 235);
    position: relative;
    margin-bottom: 32px;
}
.shop-results-pagination-bar::after {
    content: '';
    position: absolute;
    left: 0;
    background-color: #01693a;
    height: 7px;
    width: 19%;
    border-radius: 7px;
}
.shop-results-pagination-btn {
    width: 100%;
    max-width: 250px;
    height: 48px;
    color: #222222;
    background-color: rgb(235 235 235);
    border-radius: 4px;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
.shop-results-pagination-btn:hover {
    color: #fff;
    background-color: #01693a;
}
.shop-items-col.col-6 .organic-swiper-slide-image {
    height: 460px;
}
.shop-items-col.col-12 .organic-swiper-slide-wrapper{
    display: flex;
}
.shop-items-col.col-12 .organic-swiper-slide-image {
    max-width: 300px;
}
.shop-items-col.col-12 .organic-swiper-slide {
    padding-bottom: 0;
}
.shop-items-col.col-12 .menu-product-slide-text {
    margin-top: 30px;
    flex-grow: 1;
    padding-right: 64px;
}
.menu-product-slide-text-long {
    display: none;
    padding-top: 16px;
}
.menu-product-slide-text-long p {
    font-size: 14px;
    color: #434343;
}
.shop-items-col.col-12 .menu-product-slide-text-long {
    display: block;
}
.shop-items-col.col-12 .organic-slide-button {
    display: none;
}
.menu-product-slide-text-long .organic-slide-button{
    display: flex !important;
    opacity: 1 !important;
    visibility: visible !important;
    position: relative;
    top: unset;
    bottom: unset;
    right: unset;
    left: unset;
    margin-right: 12px;
}
.menu-product-long-text-buttons-wrapper {
    position: relative;
    display: flex;
    margin-top: 24px;
}
.menu-product-long-text-buttons-wrapper .organic-slide-tooltip {
    right: unset;
    top: -44px;
    left: 50%;
    transform: translateX(-50%);
}
.menu-product-long-text-buttons-wrapper .organic-slide-tooltip::after {
    left: 50%;
    margin-left: -3px;
    margin-top: -2px;
    top: 100%;
    transform: rotate(90deg);
}

/*Shop tags section*/
.shop-tags-section {
    background-color: #f2f2f2;
    padding: 100px 0;
    padding-bottom: 200px;
}
.shop-tags-title {
    margin-bottom: 32px;
}
.shop-tags-title h2 {
    font-size: 14px;
    color: #222222;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
}
.shop-tags-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.shop-tag {
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    font-size: 11px;
    color: #434343;
    border-radius: 4px;
    border: 1px solid #ececec;
    cursor: pointer;
    transition: .3s;
}
.shop-tag:hover {
    color: #fff;
    background-color: #01693a;
}
.organic-slide-button i {
    z-index: 1;
}
.organic-slide-button::before {
    z-index: unset;
}

/*Filters side menu*/
.shop-filters-side-menu {
    position: fixed;
    top: 0px;
    left: -100%; /* Начальное положение меню за экраном */
    width: 320px; /* Ширина меню */
    height: 100vh;
    background-color: #fff;
    transition: all 0.2s ease;
    z-index: 1000;
    overflow-y: auto; /* Содержимое меню можно прокручивать */
}
.shop-filters-side-menu.open {
    left: 0px; /* Меню выезжает справа */
}
.shop-filters-side-menu-filter{
    display: none;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2f2f2f;
    opacity: 0;
    z-index: 999;

    height: 100000vh;
    transition: opacity 0.3s ease; 
}
.shop-filters-side-menu-filter.visible {
    display: block; /* Показываем фильтр */
    opacity: 0.6; /* Устанавливаем непрозрачность */
}
.shop-filters-side-menu-content {
    padding: 40px 20px;
}

/* Tracking Page */
.tracking-section {
    padding: 140px 0;
    padding-bottom: 240px;
}
.tracking-title {
    text-align: center;
}
.tracking-title h2 {
    font-size: 36px;
    color: #222222;
    font-weight: 700;
    margin-bottom: 16px;
}
.tracking-title p {
    font-size: 14px;
    color: #434343;
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 32px;
}
.tracking-title img {
    max-width: 100%;
    height: 60px;
}
.tracking-bar {
    margin: 0 auto;
    margin-top: 64px;
    max-width: 850px;
    background: #f1f1f1;
    border-radius: 8px;
    padding: 75px 110px 50px;
}
.tracking-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tracking-form label{
    font-size: 14px;
    color: #222222;
    margin-bottom: 8px;
}
#tracking-input {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    height: 50px;
    width: 100%;
    outline: 0;
    padding: 8px 12px;
    font-size: 12px;
    color: #434343;
    margin-bottom: 32px;
    text-align: center;
}
#tracking-input:hover, 
#tracking-input:focus
{
    border: 1px solid #01693a !important;
}
.tacking-btn {
    width: 100%;
    background-color: #01693a !important;
    color: #fff !important;
    border-radius: 4px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase; 
}
.tacking-btn:hover {
    background-color: #84d814 !important;
    color: #fff !important;
}

/* Direction */
.direction-title {
    text-align: center;
    margin-bottom: 64px;
}
.direction-title h2{
    text-align: center;
    font-size: 36px;
    color: #222222;
    font-weight: 700;
    margin-bottom: 16px;
}
.direction-section {
    padding: 140px 0;
    padding-bottom: 200px;
}
.direction-content-wrapper {
    width: 100%;
    height: 870px;
    background-color: #f2f2f2;
    position: relative;
    border-radius: 10px;
}
.direction-bar {
    background-color: #151418;
    border-radius: 10px;
    padding: 50px 40px;
    box-shadow: 14px 14px 25px 0px rgba(0, 0, 0, 0.25);
    max-width: 410px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 16.1%;
}
.direction-bar p {
    font-size: 14px;
    color: #fff;
}
.direction-bar p span {
    color: #84d814;
    font-weight: 700;
}
.direction-buttons-wrapper {
    display: flex;
    margin-top: 32px;
}
.direction-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #01693a !important;
    font-size: 14px;
    margin-right: 4px;
    border-radius: 4px;
    background: #fff !important;
    border: 0;
    outline: 0;
    transition: .3s;
}
.direction-button:hover {
    color: #fff !important;
    background-color: #01693a !important;
}
.notfound-video-wrapper {
    text-align: center;
    margin-bottom: 64px;
}
.notfound-video-wrapper img {
    max-width: 100%;
}
.notfound-text {
    text-align: center;
}
.notfound-text h1 {
    font-size: 32px;
    color: #222222;
    font-weight: 800;
    margin-bottom: 16px;
}
.notfound-text p {
    font-size: 22px;
    color: #434343;
    margin-bottom: 32px;
}
.notfound-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.notfound-btn {
    margin: 0 10px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec !important;
    color: #222222 !important;
    font-size: 12px;
    font-weight: 700;
    transition: .3s;
    border-radius: 5px;
    border: 0;
    outline: 0;
    margin-bottom: 24px;
}
.notfound-btn:hover {
    background-color: #01693a !important;
    color: #fff !important;
}
.faq-items-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 64px;
}
.faq-item {
    background-color: #F0F0F0;
    padding: 47px 20px 46px 20px;
    transition: all 0.4s;
    border-radius: 22px 22px 22px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 24%;
    margin: 8px;
}
.faq-item:hover {
    background-color: #E2E2E2;
}
.faq-item:last-child {
    margin-right: 0;
}
.faq-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 32px;
}
.faq-item p {
    font-size: 14px;
    color: #222;
    font-weight: 700;
    text-wrap: nowrap;
}
.faq-text strong {
    font-size: 14px;
}
.faq-text p{
    font-size: 14px;
    color: #434343;
}
.faq-text {
    margin-bottom: 64px;
}

.faq-accordions-wrapper .accordion-item {
    margin-bottom: 0;
    border: 0 !important;
    border-top: 1px solid #ececec !important;
    border-radius: 0 !important;
}
.faq-accordions-wrapper .accordion-item:last-child {
    border-bottom: 1px solid #ececec !important;
}
.faq-accordions-wrapper .accordion-item-header {
    padding: 0;
    font-size: 16px;
    color: #222;
    height: 69px;
    transition: .3s;
    position: relative;
}
.faq-accordions-wrapper .accordion-item-header.active {
    color: #01693a;
}
.faq-accordions-wrapper .accordion-item-header.active::before {
    background: #01693a;
    content: "";
    height: 2px;
    left: 0;
    max-width: 200px;
    position: absolute;
    top: -1px;
    transition: .5s;
    width: 100%;
}
.faq-accordions-wrapper .accordion-item-header:hover {
    color: #01693a;
}
.faq-accordions-wrapper .accordion-item-body-content {
    padding: 0;
    padding-top: 16px;
    padding-bottom: 32px;
    font-size: 14px;
    color: #434343;
}
.faq-accordions-wrapper .accordion-item-header.active::after {
    display: none;
}
.faq-contact {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}
.faq-contact p {
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 700;
    color: #222;
}
.faq-contact-btn {
    width: 250px;
    background: #01693a !important;
    color: #fff !important;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    height: 48px;
    transition: .35s;
    border: 0;
    outline: 0;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 16px;
}
.faq-contact-btn:hover  {
    background: #84d814 !important;
    color: #fff !important;
}

/*Contact page*/
.contact-map-wrapper {
    height: 600px;
    border-radius: 20px;
    background-color: #f2f2f2;
    width: 100%;
}
.contact-map-section {
    padding: 64px 0;
}
.contact-page-form-title h2{
    font-size: 22px;
    color: #222;
    font-weight: 800;
    margin-bottom: 16px;
}
.contact-page-form-title p {
    font-size: 12px;
    color: #434343;
}
.contact-page-form-title {
    margin-bottom: 32px;
}
.contact-page-form-wrapper form input {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    height: 50px;
    width: 100%;
    outline: 0;
    padding: 8px 12px;
    font-size: 12px;
    color: #434343;
    margin-bottom: 24px;
}
.contact-page-form-wrapper form input::placeholder {
    text-transform: uppercase;
    font-size: 10px;
}
.contact-page-form-wrapper form textarea {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    width: 100%;
    outline: 0;
    padding: 8px 12px;
    font-size: 12px;
    color: #434343;
    margin-bottom: 32px;
}
.contact-page-form-wrapper form textarea::placeholder {
    text-transform: uppercase;
    font-size: 10px;
}
.contact-page-form-wrapper form input:hover, 
.contact-page-form-wrapper form input:focus,
.contact-page-form-wrapper form textarea:hover, 
.contact-page-form-wrapper form textarea:focus
{
    border: 1px solid #01693a !important;
}
.contact-page-form-wrapper form button {
    width: 100%;
    background-color: #01693a !important;
    color: #fff !important;
    border-radius: 4px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase; 
    outline: 0;
    max-width: 200px;
    border: 0;
}
.contact-page-form-wrapper form button:hover {
    background-color: #84d814 !important;
    color: #fff !important;
}
.contact-content {
    padding-bottom: 222px;
}
.contact-content-info {
    font-size: 14px;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 90px;
}
.contact-content-info span {
    font-weight: 700;
}
.contact-content-info .direction-button {
    background-color: #01693a !important;
    color: #fff !important;
}
.contact-content-info .direction-button:hover {
    background-color: #84d814 !important;
}
.woman-bar-wrapper {
    margin: 32px 0;
}
.woman-bar {
    display: flex;
    align-items: center;
    padding: 44px 32px;
    background-color: rgb(241 241 241);
    border-radius: 20px;
}
.woman-bar-content {
    margin-left: 32px;
}
.woman-bar-content {
    display: flex;
}
.woman-bar-content i{
    color: #909090;
    font-size: 48px;
}
.woman-bar-text {
    margin-left: 32px;
}
.testimonial-woman-bar-text span{
    font-size: 14px;
    color: #434343;
    text-transform: uppercase;
}
.testimonial-woman-bar-text p {
    font-size: 24px;
    color: #222;
    font-weight: 700;
    max-width: 450px;
}
.testimonial-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    --tw-shadow: 14px 14px 25px 0px #0000001a;
    --tw-shadow-colored: 14px 14px 25px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgb(230 230 230);
}
.testimonial-item i {
    font-size: 48px;
    color: #D0E9F8;
    margin-bottom: 8px;
}
.testimonial-item-text p {
    font-size: 14px;
    color: #222222;
    margin-bottom: 24px;
    line-height: 1.5rem;
}
.testimonial-item-user {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}
.testimonial-item-user img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 12px;
}
.testimonial-item-user-text p {
    font-size: 14px;
    color: #434343;
    margin-bottom: 0;
    font-weight: 700;
}
.testimonial-item-user-text span {
    font-size: 12px;
    color: #434343;
}
.testimonial-items-wrapper {
    column-count: 4;
    margin-bottom: 64px;
}
.testimonial-item-wrapper {
    margin-bottom: 30px;
    break-inside: avoid;
}

/* About */
.about-page-big-image {
    padding: 64px 0;
}
.about-page-big-image img {
    max-width: 100%;
    border-radius: 20px;
}
.about-page-text {
    font-size: 14px;
    color: #434343;
}
.about-woman-bar-text p{
    font-size: 20px;
    color: #434343;
}
.about-woman-bar-text span {
    font-size: 14px;
    color: #222222;
}
.about-gif-item {
    align-items: center;
}
.about-gif-item:first-child {
    border-bottom: 1px solid #d9d9d9;
}
.about-gif-item img {
    max-width: 100%;
}
.about-gif-text h2 {
    font-size: 22px;
    color: #222222;
    font-weight: 700;
    margin-bottom: 24px;
}
.about-gif-text p {
    font-size: 14px;
    color: #434343;
}
.about-page-section {
    padding-bottom: 164px;
}
.cart-content-section {
    padding-bottom: 124px;
}

/* Wishlist */
.wishlish-section {
    padding: 64px 0;
    padding-bottom: 240px;
}
.wishlish-empty {
    height: 30vh;
    font-size: 14px;
    color: #434343;
}
.wishlist-item-start {
    display: flex;
    align-items: center;
}
.wishlish-item {
    align-items: center;
    border: 1px solid #ececec;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    overflow: hidden;
    transition: .3s;
    padding: 0 10px;
}
.wishlish-item:hover {
    box-shadow: 12px 9px 25px 0 #0000001a;
    text-shadow: 12px 9px 25px #0000001a;
}
.wishlish-item-del {
    background: #ececec;
    border-radius: 100%;
    color: #5e5e5e;
    height: 25px;
    line-height: 28px;
    position: relative;
    text-align: center;
    transition: .3s;
    width: 25px;
    font-size: 10px;
    cursor: pointer;
}
.wishlish-item-del:hover {
    background-color: #01693a;
    color: #fff;
}
.wishlish-item-product img {
    width: 100px;
    height: 100px;
}
.wishlish-item-product {
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding: 15px 0;
}
.wishlish-item-product a {
    font-size: 12px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 8px;
}
.wishlish-item-product span {
    font-size: 12px;
    font-weight: 800;
    color: #01693a;
}
.wishlish-item-product-info {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
.wishlish-item-product-date {
    font-size: 10px;
    display: flex;
    align-items: center;
    color: #909090;
    text-transform: uppercase;
    margin-top: 8px;
}
.wishlish-item-product-date i {
    margin-right: 8px;
}
.wishlish-item-end-params {
    display: flex;
    align-items: center;
}
.wishlish-item-stock {
    margin-right: 32px;
    font-size: 14px;
    color: #34ad5e;
}
.wishlish-item-stock i {
    margin-right: 8px;
}
.wishlish-item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    background-color: #01693a !important;
    color: #fff !important;
    width: 200px;
    border-radius: 30px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    transition: .3s;
    cursor: pointer;
}
.wishlish-item-btn:hover {
    color: #fff !important;
    background-color: #84d814 !important;
}
.wishlist-input-section-wrapper {
    display: flex;
    align-items: center;
    margin-top: 64px;
}
.wishlist-input-section-wrapper p {
    margin-bottom: 0;
    font-size: 14px;
    color: #434343;
    font-weight: 700;
    margin-right: 32px;
}
.wishlist-input-wrapper{
    display: flex;
}
.wishlist-input-wrapper input {
    border: 1px solid #ececec;
    box-shadow: none;
    height: 54px;
    width: 100%;
    padding: 8px 12px;
    outline: 0;
    font-size: 12px;
    color: #434343;
    min-width: 400px;
    max-width: 100%;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.wishlist-input-btn {
    cursor: pointer;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    height: 54px;
    line-height: 54px;
    width: 90px;
    padding: 0 20px;
    text-align: center;
    transition: .3s;
    display: flex;
    justify-content: center;
    font-size: 11px;
    color: #222222 !important;
    font-weight: 700;
    border: 0;
    outline: 0;
    text-transform: uppercase;
    background-color: #ececec !important;
}
.wishlist-input-btn:hover {
    background-color: #01693a !important;
    color: #fff !important;
}

/* Cart */
.cart-epmbty-bar {
    width: 100%;
    height: 58px;
    background-color: #5c93b4;
    color: #fff;
    border-radius: .5rem;
    font-size: 14px;
    display: flex;
    padding: 0 16px;
    display: flex;
    align-items: center;
}
.cart-epmbty-bar i {
    margin-right: 16px;
}
.cart-epmbty-bar p {
    margin-bottom: 0;
}
.cart-empty {
    padding: 64px 0;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
}
.cart-epmbty-button {
    margin: 0 auto;
    margin-top: 32px;
    background-color: #01693a !important;
    border-radius: 4px;
    color: #fff !important;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    transition: .3s;
    border: 0;
    outline: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
}
.cart-epmbty-button:hover {
    color: #fff !important;
    background-color: #84d814 !important;
}
.cart-coupon-bar {
    background-color: #f2f2f2;
    padding: 21px 30px;
    border-radius: .25rem;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 64px;
}
.cart-content-wrapper {
    padding: 64px 0;
}
.cart-coupon-title {
    display: flex;
    align-items: center;
}
.cart-coupon-title i {
    margin-right: 16px;
}
.cart-coupon-bar p{
    font-size: 14px;
    color: #434343;
    margin-bottom: 32px;
    text-align: center;
    margin-top: 24px;
}
.cart-coupon-title p {
    margin-bottom: 0;
    font-size: 11px;
    color: #434343;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 0;
}
.cart-coupon-title p span {
    color: #01693a;
    cursor: pointer;
}
.cart-coupon-bar input {
    width: 100%;
    height: 48px;
    background-color: #fff;
    border-style: dashed;
    border-width: 2px;
    border-color: #ececec;
    outline: 0;
    font-size: 12px;
    color: #434343;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 16px;
}
.cart-coupon-btn {
    width: 100%;
    background-color: #01693a !important;
    border-radius: 4px;
    height: 48px;
    outline: 0;
    border: 0;
    color: #fff !important;
    font-size: 11px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
}
.cart-coupon-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.cart-billing-title {
    font-size: 18px;
    color: #222222;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 2px solid #222;
}
.cart-billing-form-wrapper form {
    padding-top: 16px;
}
.cart-billing-form-wrapper label {
    font-size: 12px;
    color: #434343;
    margin-bottom: 8px;
}
.cart-billing-form-wrapper label span {
    color: #01693a;
}
.cart-billing-form-wrapper input {
    width: 100%;
    height: 48px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 0 20px;
    outline: none;
    font-size: 12px;
    color: #434343;
    margin-bottom: 16px;
}
.cart-billing-form-wrapper select {
    width: 100%;
    height: 48px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 0 20px;
    outline: none;
    font-size: 12px;
    color: #434343;
    margin-bottom: 16px;
}
.cart-billing-form-wrapper textarea {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 160px;
    padding: 16px;
    font-size: 12px;
    color: #434343;
}
.cart-order {
    border: 1px solid #f2f2f2;
    border-radius: 1rem;
}
.cart-order-wrapper {
    background-color: #f2f2f2;
    border-radius: 1rem;
    padding: 24px 28px;
}
.cart-order-title {
    font-size: 18px;
    font-weight: 700;
    color: #222222;
    padding: 16px 28px;
    text-transform: uppercase;
}
.cart-order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    color: #434343;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 16px;
    padding-bottom: 16px;
}
.cart-order-item p {
    margin-bottom: 0;
}
.cart-order-item span{
    display: flex;
    font-weight: 400;
}
.cart-order-item span p {
    font-weight: 700;
}
.cart-oder-item-quantity {
    margin-left: 4px;
}
.cart-order-item-subtotal {
    border: 0;
}
.cart-order-item-shipping {
    border: 0;
}
.cart-order-item-total {
    border-width: 4px;
    border-color: #dfdfdf;
}
.cart-order-item-total p {
    font-size: 16px;
    color: #434343;
}
.cart-order-item-total span {
    font-weight: 700;
    color: #01693a;
    font-size: 20px;
}
.cart-order-info {
    font-size: 14px;
    color: #434343;
    margin-bottom: 16px;
}
.cart-order-button {
    height: 56px;
    border-radius: .25rem;
    width: 100%;
    background: #01693a !important;
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    border: 0;
    outline: 0;
    text-transform: uppercase;
}
.cart-order-accordion-wrapper .accordion-item{
    background: transparent !important;
    border: 0 !important;
    border-bottom: 1px solid #dfdfdf !important;
    border-radius: 0 !important;
}
.cart-order-accordion-wrapper .accordion-item-header {
    margin-bottom: 0 !important;
    height: fit-content !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    padding-top: 16px;
    padding-bottom: 16px;
    padding: 16px 28px !important;
}
.cart-order-accordion-wrapper .accordion-item-header::after {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #dfdfdf;
}
.cart-order-accordion-wrapper .accordion-item-header.active::before {
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #84d814;
    border-radius: 50%;
    z-index: 1;

}
.cart-order-accordion-wrapper {
    margin-bottom: 16px;
}
.cart-order-accordion-wrapper .accordion-item-body-content {
    font-size: 14px !important;
    color: #434343 !important;
    padding-top: 8px !important;
    padding-bottom: 16px !important;
}


/*Login page*/
.login-content-section {
    padding: 124px 0;
    position: relative;
    padding-bottom: 200px;
}
.login-content-wrapper {
    padding-top: 64px;
}
.login-title {
    width: 100%;
    text-align: center;
}
.login-title h2 {
    color: #222;
    display: inline-block;
    font-size: 24px;
    margin-bottom: 1.36em;
    position: relative;
    font-weight: 800;
}
.login-title h2::before {
    background: #84d814;
    bottom: 0;
    content: "";
    height: 15px;
    left: -10px;
    opacity: .2;
    position: absolute;
    right: -10px;
    z-index: -1;
}
.login-form-wrapper label {
    font-size: 12px;
    color: #434343;
    margin-bottom: 8px;
}
.login-form-wrapper label span {
    color: #ff2a2a;
}
.login-form-wrapper input {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-size: 12px;
    height: 50px;
    margin-bottom: 16px;
    padding: 0 20px;
    width: 100%;
    outline: 0;
}
.login-form-wrapper .shop-filter-item-with-checkbox-text {
    position: relative;
    margin-bottom: 32px !important;
}
.login-form-wrapper .shop-filter-item-with-checkbox-text span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
}
.login-page-button {
    height: 50px;
    font-size: 11px;
    color: #fff !important; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    border-radius: 5px;
    background-color: #01693a !important;
    width: 100%;
    border: 0;
    text-transform: uppercase;
}
.login-content-wrapper {
    max-width: 500px;
    margin: 0 auto;
}
.login-form-wrapper p {
    font-size: 12px;
    color: #434343;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
}
.login-content-section .col-lg-6:first-child {
    border-right: 1px solid #ececec;
}
.myaccount-params-wrapper {
    border: 1px solid #f2f2f2;
    border-radius: 1rem;
}
.myaccount-params-title {
    padding: 15px 30px;
    font-size: 18px;
    color: #222222;
}
.myaccount-section {
    padding: 124px 0;
    padding-bottom: 200px;
}
.myaccount-params-content {
    background: #f2f2f2;
    border-radius: 1rem;
    padding: 30px;
}
.myaccount-param-item {
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    transition: .3s;
    cursor: pointer;
}
.myaccount-param-item i {
    margin-right: 16px;
}
.myaccount-param-item p {
    font-size: 14px;
    margin-bottom: 0;
    color: #222222;
}
.myaccount-param-item:last-child {
    border: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.myaccount-param-item:hover {
    color: #01693a !important;
}
.myaccount-params-title {
    font-weight: 800;
    text-transform: uppercase;
}
.testimonial-items-section {
    padding-bottom: 200px;
}
.footer-bar-wrapper {
    position: relative;
}
.footer-bar-bg {
    position: absolute;
    left: 0;
    top: 0;
}
.footer-bar {
    display: flex;
    width: 100%;
    background-color: #00512C;
    box-shadow: 4px 2px 7px 0px rgba(0, 0, 0, 0.4);
    transition: .3s;
    opacity: 1;
    padding: 39px 35px 39px 50px;
    border-radius: 28px;
    height: 240px;
    position: relative;
    flex-wrap: wrap;
}
.footer-bar-inner {
    position: relative;
    transform: translateY(-120px);
}
.footer-bar-inner::before {
    background-color: #84d814;
    border-radius: 28px;
    bottom: 0;
    content: "";
    height: 100%;
    left: -6px;
    position: absolute;
    transform: rotate(.9deg);
    transition: all .4s ease;
    width: calc(100% + 12px);
    z-index: -1;
    opacity: 0;
    transform: rotate(0deg);
}
.footer-bar-inner:hover::before  {
    opacity: 1;
    transform: rotate(.9deg);
}
.footer-bar-text {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-bar-text p {
    font-size: 34px;
    color: #fff;
    font-weight: 700;
}
.footer-bar-text span {
    font-size: 14px;
    color: #fff;
    line-height: 24px;
    max-width: 300px;
}
.footer-bar-arrow {
    position: absolute;
    right: 10%;
    width: 108px;
}
.footer-bar-input-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
}

.footer-bar-input-wrapper input{
    width: 100%;
    border: 1px solid #01693a;
    border-radius: 58px;
    color: #fff;
    height: 58px;
    outline: none;
    background: transparent;
    padding: 0 33px;
    font-size: 12px;
    color: #fff;
}
.footer-bar-input-wrapper input::placeholder {
    color: #fff;
}
.footer-bar-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    background: #01693a;
    background-image: none;
    border: 1px solid #01693a;
    font-size: 11px;
    font-weight: 800;
    height: 58px;
    padding: 0 45px;
    border-radius: 44px;
    color: #fff;
    text-transform: uppercase;
}
.footer-bar-btn:hover {
    color: #fff;
    background-color: #01693a;
}
.footer-wrapper {
    padding-top: 0 !important;
}



















@media only screen and (max-width: 1300px) {
    main {
        padding-top: 0px;
    }
    .shop-page-banner-slider {
        margin: 0 auto;
        max-width: 80%;
    }
}
@media only screen and (max-width: 1200px) {
    main {
        padding-top: 0px;
    }
    .shop-filter-accordions-wrapper {
        display: none;
    }
    .shop-filters-side-menu-content .shop-filter-accordions-wrapper {
        display: block;
    }
    .accordion-item {
        border: 0 !important;
        border-top: 1px solid #e5e7eb !important;
        border-radius: 0 !important;
    }
    .accordion-item-header {
        padding: 0;
    }
    .accordion-item {
        margin-bottom: 0 !important;
    }
    .accordion-item:first-child {
        border-top: 0 !important;
    }
    .accordion-item-header.active::after {
        display: none;
    }
    .accordion-item-body-content {
        padding: 24px 0;
        padding-top: 8px;
    }
    .shop-filters-side-menu-content .shop-filters-title {
        margin-bottom: 16px;
    }
    .testimonial-items-wrapper {
        column-count: 3;
    }
}
@media only screen and (max-width: 992px) {
    #sort-view-control1 {
        display: none;
    }
    .shop-items-col.col-6 .organic-swiper-slide-image {
        height: 300px;
    }
    .shop-items-col.col-12 .organic-swiper-slide-wrapper {
        flex-direction: column;
        align-items: center;
        padding-bottom: 32px;
    }
    .menu-product-slide-text {
        width: 90%;
    }
    .page-banner {
        height: 230px;
    }
    .shop-banner-slider-wrapper {
        bottom: -32px;
    }
    .page-banner {
        margin-bottom: 350px;
    }
    .shop-items-col.col-12 .organic-swiper-slide-image {
        max-width: 100%;
    }
    .testimonial-items-wrapper {
        column-count: 2;
    }
    .cart-billing {
        margin-bottom: 32px;
    }
    .footer-bar-text {
        width: 100%;
        margin-bottom: 32px;
    }
    .footer-bar-input-wrapper {
        width: 100%;
    }
    .footer-bar {
        height: auto;
    }
    .footer-bar-arrow {
       display: none;
    }
    .footer-bar-text p {
        font-size: 26px;
    }
    .footer-bar-btn {
        padding: 0 24px;
    }
    .footer-bar-inner::before {
        opacity: 1 !important;
    }
}
@media only screen and (max-width: 768px) {
    .page-banner {
        background-position: left !important;
    }
    .shop-page-banner-slider {
        max-width: 100%;
    }
    .direction-bar {
        top: 16px;
        left: 16px;
        right: 16px;
        max-width: 100%;
        transform: translateY(0%);
    }
    .testimonial-items-wrapper {
        column-count: 1;
    }
    .woman-bar {
        flex-direction: column;
    }
    .woman-bar img {
        margin-bottom: 32px;
    }
    .woman-bar-content {
        margin-left: 0;
    }
    .testimonial-woman-bar-text p {
        font-size: 20px;
    }
    .woman-bar-content i {
        font-size: 32px;
    }
    .woman-bar-text {
        margin-left: 16px;
    }
    .wishlist-input-wrapper input {
        min-width: unset;
    }
    .wishlish-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .wishlish-item-end-params {
        margin-bottom: 16px;
    }
    .login-content-section {
        padding: 64px 0;
    }
    .login-content-section .col-lg-6 {
        border: 0 !important;
    }
}
@media only screen and (max-width: 576px) {
    .shop-page-banner-slide img {
        max-width: 150px;
    }
    .shop-sort-bar p {
        display: none;
    }
    .shop-items-col.col-6 .organic-swiper-slide-image {
        height: 160px;
    }
    .organic-slide-button {
        display: none !important;
    }
    .organic-swiper-slide-image {
        margin-bottom: 24px;
    }
    .shop-items-col.col-12 .organic-swiper-slide-image {
        margin-bottom: 0 !important;
    }
    .shop-items-col {
        margin-bottom: 24px;
    }
    .tracking-section {
        padding: 64px 0;
        padding-bottom: 200px;
    }
    .tracking-bar {
        padding: 64px 30px;
    }
    .direction-section {
        padding: 64px 0;
        padding-bottom: 200px;
    }
    .notfound-text p  {
        font-size: 18px;
        padding: 0 16px;
    }
    .faq-item {
        width: 49%;
    }
}