main {
    padding-top: 82px;
}
.page-breadcrumbs {
    display: flex;
    align-items: center;
    padding: 30px 0;
    flex-wrap: wrap;
}
.page-breadcrumbs a {
    font-size: 12px;
    color: #222222;
    text-decoration: none;
    margin-right: 10px;
    transition: .3s;
}
.page-breadcrumbs a:hover {
    color: #01693a;
}
.page-breadcrumbs i {
    color: #222222;
    font-size: 9px;
    margin-right: 10px;
}
.page-breadcrumbs span {
    font-size: 12px;
    color: #222222;
}
.main-nav-scroll {
    transform: translateY(0);
}
.page-banner .container {
    height: 100%;
    position: relative;
}
.page-banner {
    background-position: top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.page-banner-title {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page-banner-title h1 {
    font-size: 30px;
    font-weight: 800;
}
.page-banner {
    height: 390px;
    position: relative;
    margin-bottom: 300px;
}
.page-banner-breadcrumb a {
    font-size: 12px;
    text-decoration: none;
    color: #222222;
}
.page-banner-breadcrumb span {
    font-size: 12px;
    color: #222222;
}
.page-banner-breadcrumb i {
    font-size: 10px;
    margin: 0 4px;
}
.shop-page-banner-slide img{
    width: 190px;
    border-radius: 50%;
}
.shop-page-banner-slide-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.shop-page-banner-slide-wrapper img {
    margin-bottom: 32px;
    cursor: pointer;
}
.shop-page-banner-slide-wrapper p {
    font-weight: 700;
    color: #222222;
    font-size: 16px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: .3s;
}
.shop-page-banner-slide-wrapper p:hover {
    color: #01693a;
}
.shop-page-banner-slide-wrapper span {
    color: #434343;
    font-size: 14px;
}
.shop-banner-slider-wrapper {
    position: relative;
    max-width: 100%;
    bottom: 150px;
}
.shop-banner-slider {
    width: 80%;
    margin: 0 auto;
}
.shop-page-banner-slider .slick-prev {
    left: -50px;
    transform: translateY(248%);
}
.shop-page-banner-slider .slick-next {
    right: -100%;
    transform: translateY(-404%);
}
.shop-page-banner-slider .slick-prev, .slick-next {
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #ececec;
    box-shadow: 3px 4px 8px 0 #0000001a;
    position: relative;
    transition: all .5s ease;
    border-radius: 50%;
    outline: 0 !important;
    z-index: auto;
}
.shop-page-banner-slider .slick-next::before {
    left: 47%;
    transform: rotate(-45deg) translate(-50%, -50%);
    background: #000;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    transition: transform .5s ease;
    width: 15px;
}
.shop-page-banner-slider .slick-next::after {
    left: 47%;
    transform: rotate(45deg) translate(-50%, 50%);
    background: #000;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    transition: transform .5s ease;
    width: 15px;
}
.shop-page-banner-slider .slick-prev::before {
    right: 47%;
    transform: rotate(-135deg) translate(-50%, -50%);
    background: #000;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    transition: transform .5s ease;
    width: 15px;
}
.shop-page-banner-slider .slick-prev::after {
    right: 47%;
    transform: rotate(135deg) translate(-50%, 50%);
    background: #000;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    transition: transform .5s ease;
    width: 15px;
}
.shop-page-banner-slider .slick-prev.slick-disabled::before {
    right: 50%;
    transform: rotate(-180deg) translate(-50%, -50%) !important;
}
.shop-page-banner-slider .slick-prev.slick-disabled::after {
    right: 50%;
    transform: rotate(180deg) translate(-50%, -50%) !important;
}
.shop-page-banner-slider .slick-next.slick-disabled::before {
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%) !important;
}
.shop-page-banner-slider .slick-next.slick-disabled::after {
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%) !important;
}
.shop-page-banner-slider .slick-next:hover{
    background: #01693a;
    border: 1px solid #01693a;
}
.shop-page-banner-slider .slick-prev:hover{
    background: #01693a;
    border: 1px solid #01693a;
}
.shop-page-banner-slider .slick-next:hover::before{
    background: #fff;
    transform: rotate(-30deg) translate(-50%, -50%);
}
.shop-page-banner-slider .slick-next:hover::after{
    background: #fff;
    transform: rotate(30deg) translate(-50%, 50%);
}
.shop-page-banner-slider .slick-prev:hover::before{
    background: #fff;
    transform: rotate(-150deg) translate(-50%, -50%);
}
.shop-page-banner-slider .slick-prev:hover::after{
    background: #fff;
    transform: rotate(150deg) translate(-50%, 50%);
}

/*Shop page filters*/
.shop-results-section {
    margin-bottom: 100px;
}
.shop-filters-title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 32px;
}
.shop-filters-title h2 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.shop-filters-title i {
    margin-right: 8px;
}


.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion-item-header.active + .accordion-item-body {
    max-height: none;
  }
.accordion-item-header {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px;
    cursor: pointer;
    position: relative;
}
.accordion-item-header p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
    color: #222222;
}
.accordion-item-header i {
    color: rgb(34 34 34);
    font-size: 11px;
    transition: .3s;
}
.accordion-item-header.active::after {
    content: '';
    width: calc(100% - 56px);
    height: 1px;
    background-color: #ececec;
    position: absolute;
    bottom: 0;
    left: 28px;
}
.accordion-item-header.active i{
    transform: rotate(180deg);
}
.accordion-item-header:hover i {
    color: #01693a;
}
.accordion-item {
    border-radius: 20px !important;
    border: 1px solid #ececec !important;
    margin-bottom: 28px;
}
.accordion-item-body-content {
    padding: 32px 28px;
}
.cbx {
    -webkit-perspective: 18;
    perspective: 18;
    position: absolute;
    top: 0;
    left: 13px;
    margin: -12px;
    border: 1px solid #c8c8c8;
    background: #e8e8eb;
    border-radius: 3px;
    cursor: pointer;
    transform: translateY(12px);
    transition: all 0.3s ease;
}

.cbx:hover {
    border-color: #01693a;
}
.flip {
    display: block;
    transition: all 0.4s ease;
    transform-style: preserve-3d;
    position: relative;
    width: 18px;
    height: 18px;
}
.shop-filter-item-with-checkbox input {
    display: none;
}
.shop-filter-item-with-checkbox input:checked + .cbx {
    border-color: #01693a;
}

.shop-filter-item-with-checkbox input:checked + .flip {
    transform: rotateY(180deg);
}
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 2px;
}
.front {
    background: #fff;
    z-index: 1;
}
.back {
    transform: rotateY(180deg);
    background: #01693a;
    text-align: center;
    color: #fff;
    line-height: 18px;
    box-shadow: 0 0 0 1px #01693a;
}
.back svg {
    fill: none;
    width: 10px;
}
.back svg path {
    stroke: #fff;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.shop-filter-item-with-checkbox {
    position: relative; 
    padding-left: 40px;
    margin-bottom: 16px;
    cursor: pointer;
}
.shop-filter-item-with-checkbox:hover .shop-filter-item-with-checkbox-text{
    color: #01693a;
}
.shop-filter-item-with-checkbox:hover .cbx{
    border-color: #01693a;
}
.shop-filter-item-with-checkbox:last-child {
    margin-bottom: 0;
}
.shop-filter-item-with-checkbox-text {
    color: #434343;
    font-size: 14px;
}
.shop-filter-item-with-checkbox-text span {
    font-size: 12px;
    color: #909090;
}


.range-wrapper{
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 0;
    border-radius: 0px;
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track{
    width: 100%;
    height: 7px;
    position: absolute;
    top: 0;
    background-color: #01693a;
    border: 1px solid rgb(171 171 171);
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 7px;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 7px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 7px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: rgba(130, 130, 130, 1);
    cursor: pointer;
    margin-top: -6.5px;
    pointer-events: auto;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #01693a;
    position: relative;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #01693a;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #01693a;
    pointer-events: auto;
    position: relative;
}
input[type="range"]:active::-webkit-slider-thumb{
}
.range-value {
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 24px;
}

#min-range {
    color: #141820;
}
#max-range {
    color: #141820;
}
.range-static-values-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.range-static-values-wrapper span {
    color: #909090;
    font-size: 10px;
    opacity: 0.8;
}
.range-changable-values-wrapper {
    display: flex;
}
.range-changable-values-wrapper p {
    font-size: 12px;
    color: #434343;
    margin-bottom: 0;
    margin-right: 16px;
}
.range-changable-values-wrapper {
    font-size: 12px;
    color: #434343;
    margin-bottom: 32px;
}
.range-changable-values-inner {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding-right: 32px;
}
.range-filter-btn {
    background-color: #ececec !important;
    border: 0 !important;
    box-shadow: unset !important;
    outline: 0 !important;
    border-radius: 3px;
    width: 75px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: #000 !important;
    font-weight: 800;
    text-transform: uppercase;
    transition: .3s;
}
.range-filter-btn:hover {
    color: #fff !important;
    background-color: #01693a !important;
}
.shop-filter-item-rate-wrapper i {
    color: #c3c3c3;
}
.shop-filter-item-rate-wrapper .fa-yellow {
    color: #f7a92f;
}
.shop-colors-filter-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: -6px;
    margin-left: -6px;
}
.shop-color-filter-item {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: 6px 8px;
    border: 1px solid #ececec;
    cursor: pointer;
    position: relative;
    transition: .3s;
}
.shop-color-filter-item::after {
    transition: all .3s;
}
.shop-color-filter-item:hover {
    border: 1px solid #222222;
}
.shop-color-filter-item:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 50%;
    transition: .3s;
}

.shop-sort-bar {
    width: 100%;
    height: 60px;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.shop-sort-view-controls-wrapper {
    display: flex;
    align-items: center;
    margin-right: 32px;
}
.shop-sort-view-control-btn {
    background-color: #fff;
    color: #222222;
    cursor: pointer;
    border-radius: .25rem;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    transition: .3s;
}
.shop-sort-view-control-btn:hover {
    color: #ffff;
    background-color: #01693a;
}
.shop-sort-view-control-btn.selected {
    color: #ffff;
    background-color: #01693a;
}
.shop-sort-bar p {
    margin-bottom: 0;
    font-size: 12px;
    color: #434343;
    flex-grow: 1;
    text-align: start;
}
.shop-sort-select-wrapper select{
    width: 166px;
    height: 46px !important;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    font-size: 12px;
    padding: 0 8px;
    outline: 0 !important;
    cursor: pointer;
}
.organic-swiper-slide {
    border: 1px solid #ececec;
    border-radius: 18px;
    position: relative;
    padding-bottom: 32px;
    background-color: #fff;
}
.organic-swiper-slide-image {
    margin-bottom: 50px;
}
.organic-swiper-slide-image img {
    max-height: 100%;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}
.shop-items-col {
    margin-bottom: 32px;
    transition: .5s;
}
.organic-swiper-slide::before {
    background-color: #84d814;
    border-radius: 18px;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all .3s ease;
    visibility: hidden;
    width: 100%;
    z-index: -1;
}
.organic-swiper-slide:hover::before {
    opacity: 1;
    transform: rotate(3deg);
    visibility: visible;
}

.organic-swiper-slide:hover .organic-slide-button2{
    opacity: 1;
    visibility: visible;
}
.organic-swiper-slide:hover .organic-slide-button3{
    opacity: 1;
    visibility: visible;
}
.shop-results-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.shop-results-pagination p {
    font-size: 12px;
    color: #434343;
    margin-bottom: 16px;
}
.shop-results-pagination p span, strong {
    font-weight: 700;
}
.shop-results-pagination-bar {
    width: 100%;
    max-width: 250px;
    height: 7px;
    border-radius: 7px;
    background-color: rgb(235 235 235);
    position: relative;
    margin-bottom: 32px;
}
.shop-results-pagination-bar::after {
    content: '';
    position: absolute;
    left: 0;
    background-color: #01693a;
    height: 7px;
    width: 19%;
    border-radius: 7px;
}
.shop-results-pagination-btn {
    width: 100%;
    max-width: 250px;
    height: 48px;
    color: #222222;
    background-color: rgb(235 235 235);
    border-radius: 4px;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
.shop-results-pagination-btn:hover {
    color: #fff;
    background-color: #01693a;
}
.shop-items-col.col-6 .organic-swiper-slide-image {
    height: 460px;
}
.shop-items-col.col-12 .organic-swiper-slide-wrapper{
    display: flex;
}
.shop-items-col.col-12 .organic-swiper-slide-image {
    max-width: 300px;
}
.shop-items-col.col-12 .organic-swiper-slide {
    padding-bottom: 0;
}
.shop-items-col.col-12 .menu-product-slide-text {
    margin-top: 30px;
    flex-grow: 1;
    padding-right: 64px;
}
.menu-product-slide-text-long {
    display: none;
    padding-top: 16px;
}
.menu-product-slide-text-long p {
    font-size: 14px;
    color: #434343;
}
.shop-items-col.col-12 .menu-product-slide-text-long {
    display: block;
}
.shop-items-col.col-12 .organic-slide-button {
    display: none;
}
.menu-product-slide-text-long .organic-slide-button{
    display: flex !important;
    opacity: 1 !important;
    visibility: visible !important;
    position: relative;
    top: unset;
    bottom: unset;
    right: unset;
    left: unset;
    margin-right: 12px;
}
.menu-product-long-text-buttons-wrapper {
    position: relative;
    display: flex;
    margin-top: 24px;
}
.menu-product-long-text-buttons-wrapper .organic-slide-tooltip {
    right: unset;
    top: -44px;
    left: 50%;
    transform: translateX(-50%);
}
.menu-product-long-text-buttons-wrapper .organic-slide-tooltip::after {
    left: 50%;
    margin-left: -3px;
    margin-top: -2px;
    top: 100%;
    transform: rotate(90deg);
}

/*Shop tags section*/
.shop-tags-section {
    background-color: #f2f2f2;
    padding: 100px 0;
}
.shop-tags-title {
    margin-bottom: 32px;
}
.shop-tags-title h2 {
    font-size: 14px;
    color: #222222;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
}
.shop-tags-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.shop-tag {
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    font-size: 11px;
    color: #434343;
    border-radius: 4px;
    border: 1px solid #ececec;
    cursor: pointer;
    transition: .3s;
}
.shop-tag:hover {
    color: #fff;
    background-color: #01693a;
}
.organic-slide-button i {
    z-index: 1;
}
.organic-slide-button::before {
    z-index: unset;
}

/*Filters side menu*/
.shop-filters-side-menu {
    position: fixed;
    top: 0px;
    left: -100%; /* Начальное положение меню за экраном */
    width: 320px; /* Ширина меню */
    height: 100vh;
    background-color: #fff;
    transition: all 0.2s ease;
    z-index: 1000;
    overflow-y: auto; /* Содержимое меню можно прокручивать */
}
.shop-filters-side-menu.open {
    left: 0px; /* Меню выезжает справа */
}
.shop-filters-side-menu-filter{
    display: none;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2f2f2f;
    opacity: 0;
    z-index: 999;

    height: 100000vh;
    transition: opacity 0.3s ease; 
}
.shop-filters-side-menu-filter.visible {
    display: block; /* Показываем фильтр */
    opacity: 0.6; /* Устанавливаем непрозрачность */
}
.shop-filters-side-menu-content {
    padding: 40px 20px;
}







@media only screen and (max-width: 1300px) {
    main {
        padding-top: 0px;
    }
    .shop-page-banner-slider {
        margin: 0 auto;
        max-width: 80%;
    }
}
@media only screen and (max-width: 1200px) {
    main {
        padding-top: 0px;
    }
    .shop-filter-accordions-wrapper {
        display: none;
    }
    .shop-filters-side-menu-content .shop-filter-accordions-wrapper {
        display: block;
    }
    .accordion-item {
        border: 0 !important;
        border-top: 1px solid #e5e7eb !important;
        border-radius: 0 !important;
    }
    .accordion-item-header {
        padding: 0;
    }
    .accordion-item {
        margin-bottom: 0 !important;
    }
    .accordion-item:first-child {
        border-top: 0 !important;
    }
    .accordion-item-header.active::after {
        display: none;
    }
    .accordion-item-body-content {
        padding: 24px 0;
        padding-top: 8px;
    }
    .shop-filters-side-menu-content .shop-filters-title {
        margin-bottom: 16px;
    }
}
@media only screen and (max-width: 992px) {
    #sort-view-control1 {
        display: none;
    }
    .shop-items-col.col-6 .organic-swiper-slide-image {
        height: 300px;
    }
    .shop-items-col.col-12 .organic-swiper-slide-wrapper {
        flex-direction: column;
        align-items: center;
        padding-bottom: 32px;
    }
    .menu-product-slide-text {
        width: 90%;
    }
    .page-banner {
        height: 230px;
    }
    .shop-banner-slider-wrapper {
        bottom: -32px;
    }
    .page-banner {
        margin-bottom: 350px;
    }
    .shop-items-col.col-12 .organic-swiper-slide-image {
        max-width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .page-banner {
        background-position: left !important;
    }
    .shop-page-banner-slider {
        max-width: 100%;
    }
}
@media only screen and (max-width: 576px) {
    .shop-page-banner-slide img {
        max-width: 150px;
    }
    .shop-sort-bar p {
        display: none;
    }
    .shop-items-col.col-6 .organic-swiper-slide-image {
        height: 160px;
    }
    .organic-slide-button {
        display: none !important;
    }
    .organic-swiper-slide-image {
        margin-bottom: 24px;
    }
    .shop-items-col.col-12 .organic-swiper-slide-image {
        margin-bottom: 0 !important;
    }
    .shop-items-col {
        margin-bottom: 24px;
    }
}